<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYBPJeMGagHI3KtA21x2yws8h5BOte_t8</string>
	<key>GCM_SENDER_ID</key>
	<string>794516644007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.igirmranak</string>
	<key>PROJECT_ID</key>
	<string>igirmranak-e9689</string>
	<key>STORAGE_BUCKET</key>
	<string>igirmranak-e9689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794516644007:ios:aed6adcf29d0fc9c86fb82</string>
</dict>
</plist>